<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hundred</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="src/style.css">
</head>

<body>
    <script src="https://unpkg.com/vue@3"></script>

    <div id="app" class="bg-green-100">
        <div class="p-3 m-auto h-screen max-w-md flex flex-col">
        <div>
            <b>Host:&nbsp;</b>
            <span v-html="host"></span>
        </div>
        <div class="grow flex flex-col overflow-y-scroll">
            <div v-for="message in messages">
                <span v-html="message"></span>
            </div>
        </div>
          <div class="bottom-0 w-full flex flex-col gap-3">
              <textarea v-model="text" name="text" id="text" cols="30" rows="3"></textarea>
              <button @click="sendMessage"
                  class="shadow-md active:shadow-none rounded-full bg-stone-200 px-3 py-1 max-h-9">
                  <span class="font-semibold text-lg text-neutral-600">Send Message</span>
              </button>
          </div>
        </div>
      </div>

    <script>
        const { createApp } = Vue

        const appConfig = {
            data() {
                return {
                    text: "",
                    messages: [],
                    ws: null,
                    host: "wss://hundred-production.up.railway.app"
                }
            },
            created() {
                const ws = new WebSocket(this.host)

                ws.addEventListener("open", () => console.log("Connected with remote server"))
                ws.addEventListener("message", t => this.messages.push(String(t.data)))

                this.ws = ws
            },
            methods: {
                sendMessage() {
                    console.log(this.text);
                    if (this.text != "") {
                        this.ws.send(this.text)
                    }
                }
            }
        }

        createApp(appConfig).mount('#app')
    </script>
</body>

</html>